@keyframes slidy {
    0% { left: 0%; }
    2% { left: 0%; }
    3.0303030303% { left: -100%; }
    5.8% { left: -100%; }
    6.0606060606% { left: -200%; }
    8.8% { left: -200%; }
    9.0909090909% { left: -300%; }
    11.8% { left: -300%; }
    12.1212121212% { left: -400%; }
    14.8% { left: -400%; }
    15.1515151515% { left: -500%; }
    17.8% { left: -500%; }
    18.1818181818% { left: -600%; }
    20.8% { left: -600%; }
    21.2121212121% { left: -700%; }
    23.8% { left: -700%; }
    24.2424242424% { left: -800%; }
    26.8% { left: -800%; }
    27.2727272727% { left: -900%; }
    29.8% { left: -900%; }
    30.303030303% { left: -1000%; }
    32.8% { left: -1000%; }
    33.3333333333% { left: -1100%; }
    35.8% { left: -1100%; }
    36.3636363636% { left: -1200%; }
    38.8% { left: -1200%; }
    39.3939393939% { left: -1300%; }
    41.8% { left: -1300%; }
    42.4242424242% { left: -1400%; }
    44.8% { left: -1400%; }
    45.45454545454% { left: -1500%; }
    47.8% { left: -1500%; }
    48.4848484848% { left: -1600%; }
    50.8% { left: -1600%; }
    51.5151515151% { left: -1700%; }
    53.8% { left: -1700%; }
    54.5454545454% { left: -1800%; }
    56.8% { left: -1800%; }
    57.5757575757% { left: -1900%; }
    59.8% { left: -1900%; }
    60.606060606% { left: -2000%; }
    62.8% { left: -2000%; }
    63.6363636363% { left: -2100%; }
    65.8% { left: -2100%; }
    66.6666666666% { left: -2200% ;}
    68.6% { left: -2200%; }
    69.6969696969% { left: -2300%; }
    71.6% { left: -2300%; }
    72.7272727272% { left: -2400; }
    74.6% { left: -2400%; }
    75.7575757575% { left: -2500%; }
    77.6% { left: -2500%; }
    78.7878787878% { left: -2600%; }
    80.6% { left: -2600%; }
    81.8181818181% { left: -2700%; }
    83.6% { left: -2700%; }
    84.8484848484% { left: -2800; }
    86.6% { left: -2800%; }
    87.8787878787% { left: -2900%; }
    89.6% { left: -2900%; }
    90.909090909% { left: -3000%; }
    92.6% { left: -3000%; }
    93.93939393930% { left: -3100%; }
    95.6% { left: -3100%; }
    96.9696969696% { left: -3200; }
    98.6% { left: -3200%; }
    100% { left: -3300%; }
    } /*    3.0303030303    */
    
    div#slider { overflow: hidden; width: 80%; margin-left: 10%;}
    div#slider figure img { width: 2.9411764706%; float: left;}
    div#slider figure { 
      position: relative;
      width: 3400%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 240s slidy infinite; 
    }
    
/*
    @keyframes slide {
        0% { left: 0%; }
        4.7619047619% { left: -100; }
        9% { left: -100; }
        9.5238095238% { left: -200; }
        13% { left: -200; }
        14.2857142857% { left: -300; }
        18% { left: -300; }
        19.0476190476% { left: -400; }
        23% { left: -400; }
        23.8095238095% { left: -500; }
        28.5% { left: -500; }
        28.5714285714% { left: -600; }
        32.5% { left: -600; }
        33.3333333333% { left: -700; }
        37% { left: -700; }
        38.0952380952% { left: -800; }
        42% { left: -800; }
        42.8571428571% { left: -900; }
        47% { left: -900; }
        47.619047619% { left: -1000; }
        51.8% { left: -1000; }
        52.3809523809% { left: -1100; }
        56.5% { left: -1100; }
        57.1428571428% { left: -1200; }
        61% { left: -1200; }
        61.9047619047% { left: -1300; }
        66% { left: -1300; }
        66.6666666666% { left: -1400; }
        65.5% { left: -1400; }
        71.4285714285% { left: -1500; }
        75.5% { left: -1500; }
        76.1904761904% { left: -1600; }
        80% { left: -1600; }
        80.9523809523% { left: -1700; }
        85% { left: -1700; }
        85.7142857142% { left: -1800; }
        89.8% { left: -1800; }
        90.4761904761% { left: -1900; }
        94.8% { left: -1900; }
        95.238095238% { left: -2000; }
        99% { left: -2000; }
        100% { left: -2100; }
        } /   4.7619047619   *
        
        div#slider2{ overflow: hidden; width: 80%; margin-left: 10%;}
        div#slider2 figure img { width: 4.5454545455%; float: left;}
        div#slider2 figure { 
          position: relative;
          width: 2200%;
          margin: 0;
          left: 0;
          text-align: left;
          font-size: 0;
          animation: 30s slidy infinite; 
        }*/
        
    