@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}


section{
  width: 100vw;
  height: auto;
  background-color: #F5F5F5;
}





header{
  min-height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
}







.home-left{
  /*background-color: red;*/
  width: 40%;
  height: 70vh;
  float: left;
  font-size: 40px;
  position: block;
  margin-left: 5%;
}
.rectangle{
  height: 5px;
  width: 150px;
  background: #15b0c9;
  margin-top: 50%;
  margin-left: 8.5%;
}
.home-left h3{
  font-size: 80px;
}
.home-left h3,p{
  margin-left: 8%;
}
.home-left p{
  font-size: 35px;
}
.gk2-homepagetext{
  color: #0f7f91;
}
.inline-text{
  display: inline-block;
  margin-left: 15px;
}


.home-right{
  width: 50%;
  height: 50vh;
  float: right;
  margin-top: 5%;
}
.front-image{
  width: 100%;
}




#about{
  padding: 5%;
  display: inline-flexbox;
}
.about-left{
  width: 50%;
  float: left;
  padding: 5%;
}
.about-image{
  width: 100%;
  height: 100%;
  top: 20%;
  transition: transform .5s ease;
}
.about-image:hover{
  transform: scale(1.01);
}


.about-right{
  width: 50%;
  float: left;
  padding: 7%;
}
.about-right h3{
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  padding: 5%;
  color: #15b0c9;
  font-family: 'Open Sans', sans-serif;
}
.about-right p{
  font-size: 20px;
  padding: 2%;
  color: #333333;
  height: auto;
  font-family: 'Roboto', sans-serif;
}
.about-right a{
  color: #15b0c9;
}



.container{
  padding: 5%;
  padding-top: 6.5%;
}
.list1, .list2, .list3{
  width: 33%;
  float: left;
  padding: 2%;
  padding-bottom: 4%;
  overflow: hidden;
  height: auto;
}
#list{
  transition: .3s;
}
#list:hover{
  background-color: #e6e6e6;
}
.container h3{
  text-align: left;
  padding: 8%;
  text-align: center;
  color: #15b0c9;
  font-size: 33px;
}
.container p{
  font-size: 18px;
  color: #333333;
  font-family: 'Roboto', sans-serif;
}



.gallery{
  padding: 5%;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.gallery div{
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 20%;
  margin: .5vw;
}

.gallery div img{
  width: 100%;
  transition: transform .5s ease;
}
.gallery div img:hover{
  transform: scale(1.01);
}




#dofe-team{
  padding: 5%;
}
#dofe-team h3{
  font-size: 35px;
  text-align: center;
  padding: 5%;
  color: #15b0c9;
  font-family: 'Open Sans', sans-serif;
}
.team-container{
  display: flexbox;
  text-align: center;
}
.team-container img{
  width: 33%;
  padding: 5px;
  transition: 0.3s;
}
.team-container img:hover{
  transform: scale(1.01);
}


#contact{
  padding: 5%;
}
#contact h3{
  text-align: center;
  font-size: 35px;
  color: #15b0c9;
  padding: 5%;
}
.contact-container{
  text-align: center;
  display: flexbox;
  padding-bottom: 10%;
}
.contact-container img{
  width: 40px;
  padding: 5px;
}
.contact-container p{
  margin-left: -.5%;
}






footer{
  height: 30%;
  width: 100vw;
  background-color: #15b0c9;
}
.logos{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  padding-top: 4%;
  padding-bottom: 3%;
  border-bottom: 1px solid rgb(207, 207, 207);
}
.logos img{
  width: 15%;
  display: flex;
}
.bottom-copyright{
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #F5F5F5;
  margin: 5px;
}
.bottom-copyright a{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #F5F5F5;
  text-align: center;
}
.bottom-copyright a:hover{
  color: #F5F5F5;
}





.imageGrid {
  line-height: 0;
  padding: 2%;
}
.imageGrid .tile {
  width: 32.7%;
  margin: .2%;
  min-height:20em;
  line-height: 1.2;
  display:inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}




#expedition{
  width: 100vw;
  height: auto;
}
#expedition h3{
  padding: 6%;
  padding-bottom: 0%;
  font-size: 25px;
  color: #15b0c9;
}
.grid-gallery{
  display: inline-block;
  padding: 5%;
}
.grid-gallery img{
  width: 32.9%;
  margin: .1%;
}




#exp-diary h3{
  padding: 6%;
  padding-bottom: 0%;
  font-size: 25px;
  color: #15b0c9;
}
#exp-diary p{
  padding: 15%;
  padding-left: 31%;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}





#feedback{
  padding: 5%;
}
#feedback h2{
  padding: 5%;
}
.feedback-div h3{
  padding-left: 7%;
  padding-top: 2%;
  color: #0f7f91;
}
.feedback-div p{
  max-width: 80%;
  padding-bottom: 5%;
  padding-top: 2%;
}
.feedback-div{
  width: 60%;  /*make 100% on mobile and higher padding*/
}
.feedback-div:hover{
  background-color: #e6e6e6;
  border-radius: 20px;
}
.gold-container{
  display: flex;
  text-align: center;
  color: #0f7f91;
}
.gold-div img{
  width: 30%;
  border-radius: 20px;
  padding: 5px;
}



#activities h3{
  padding: 6%;
  padding-bottom: 0%;
  font-size: 25px;
  color: #15b0c9;
}
#activities p{
  padding: 15%;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}



#report h3{
  padding: 6%;
  padding-bottom: 0%;
  font-size: 25px;
  color: #15b0c9;
}
#report p{
  padding: 15%;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}


#ceremony h3{
  padding: 6%;
  padding-bottom: 0%;
  font-size: 25px;
  color: #15b0c9;
}
#ceremony p{
  padding: 15%;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}


#denniky h3{
  padding: 6%;
  padding-bottom: 0%;
  font-size: 28px;
  color: #333333;
}
#denniky h2{
  padding-left: 8%;
  padding-top: 5%;
  font-size: 25px;
  color: #15b0c9;
  padding-bottom: 5%;
}
