@media only screen and (max-width: 1200px) {
    .front-image{
        display: none;
    }
    .home-left{
        width: 80%;
        margin-bottom: 5%;
    }
    .rectangle{
        margin-top: 60%;
        background-color: #32e0ff;
    }
    .rectangle p, h3{
      color: #e6e6e6;
      text-shadow: 0 0 100px #2a2a2a;
    }
    .gk2-homepagetext{
      color: #32e0ff;
      text-shadow: 0 0 100px #2a2a2a;
    }
    #home{
      background-image: url(https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/121085066_2623296584552152_7380195572621717044_o.jpg?_nc_cat=111&ccb=2&_nc_sid=e3f864&_nc_ohc=OSsP28zY-jsAX--nvyz&_nc_ht=scontent-vie1-1.xx&oh=ad1b79485fd8336e291dc7841e43ac1c&oe=60345247);
      background-repeat: no-repeat;
      background-position: center;
    }
    #about{
        padding: 0%;
        display: block;
        text-align: center;
    }
    .about-left{
        display: none;
    }
    .about-right{
        width: 100vw;
        padding: 0%;
    }
      .about-right h3{
        font-size: 35px;
        font-weight: 900;
        text-align: center;
        color: #15b0c9;
        font-family: 'Open Sans', sans-serif;
      }
      .about-right p{
        font-size: 18px;
        padding: 2%;
        color: #333333;
        font-family: 'Roboto', sans-serif;
        text-align: left;
      }
      .about-right a{
        color: #15b0c9;
      }




      .container{
        padding: 0%;
        padding-top: 6.5%;
      }
      .list1, .list2, .list3{
        width: 100vw;
        float: left;
        padding: 0%;
        padding-bottom: 4%;
        overflow: hidden;
        height: auto;
      }
      #list{
        transition: .3s;
      }
      #list:hover{
        background-color: #e6e6e6;
      }
      .container h3{
        text-align: left;
        padding: 8%;
        text-align: center;
        color: #15b0c9;
        font-size: 33px;
      }
      .container p{
        font-size: 18px;
        color: #333333;
        font-family: 'Roboto', sans-serif;
        width: 85%;
        padding-bottom: 5%;
      }
      .list3 p{
        padding-bottom: 30%;
      }

      
      #gallery{
        display: none;
      }
      #dofe-team{
        padding: 5%;
      }
      #dofe-team h3{
        font-size: 35px;
        text-align: center;
        padding: 10%;
        color: #15b0c9;
        font-family: 'Open Sans', sans-serif;
      }
      .team-container{
        display: flexbox;
        text-align: center;
      }
      .team-container img{
        width: 100%;
        padding: 1px;
        transition: 0.3s;
      }
      .team-container img:hover{
        transform: scale(1.01);
      }

      #contact{
        padding-top: 30%;
        padding-bottom: 30%;
      }
      #contact h3{
        padding-bottom: 15%;
      }
      .logos{
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flexbox;
        padding-top: 4%;
        padding-bottom: 3%;
        border-bottom: 1px solid rgb(207, 207, 207);
      }
      .logos img{
        width: 20%;
        display: flex;
      }
      .bottom-copyright a{
        font-size: 9px;
        font-family: 'Open Sans', sans-serif;
        color: #F5F5F5;
        text-align: center;
      }




      #expedition{
        width: 100vw;
        height: auto;
        padding: 5%;
      }
      #expedition h3{
        padding: 6%;
        padding-bottom: 0%;
        font-size: 25px;
        color: #15b0c9;
      }
      .grid-gallery{
        display: inline-block;
        padding: 0%;
      }
      .grid-gallery img{
        width: 49%;
        margin: .1%;
      }

      #activities{
          height: 100vh;
      }
      #activities p{
          padding-top: 60%;
      }
      #ceremony{
        height: 100vh;
      }
      #activities p{
        padding-top: 60%;
      }
      #report{
        height: 100vh;
      }
      #report p{
        padding-top: 60%;
    }
    
  }



  @media only screen and (max-width: 900px) {
      /*{
          display: none;
      }*/
      .rectangle{
        margin-top: 80%;
    }
    .logo-image {
      position: absolute;
      width: 200px;
      height: 70px;
      left: 4%;
      top: 4%;
      z-index: 6;
      font-size: 20px;
      font-weight: 900;
      font-family: sans-serif;
      text-transform: uppercase;
    }
  }

  @media only screen and (max-width: 600px) {
      /*{
          display: none;
      }*/
      .rectangle{
        margin-top: 118%;
      }
      #expedition{
        width: 100vw;
        height: auto;
        padding: 5%;
      }
      #expedition h3{
        padding: 6%;
        padding-bottom: 0%;
        font-size: 25px;
        color: #15b0c9;
      }
      .grid-gallery{
        display: inline-block;
        padding: 0%;
      }
      .grid-gallery img{
        width: 100%;
        margin: .1%;
      }
      .feedback-div{
        width: 100%;  /*make 100% on mobile and higher padding*/
        padding: 5%;
      }

      .gold-container{
        display: flex;
        text-align: center;
        color: #0f7f91;
      }
      .gold-div img{
        width: 70%;
        border-radius: 15px;
        padding: 5px;
      }
  }