@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,800&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}


section{
  width: 100vw;
  height: auto;
  background-color: #F5F5F5;
}


.logo-image{
  height: 20%;
  width: 20%;
  margin-left: 12%;
  margin-top: 3%;
}







.home-left{
  /*background-color: red;*/
  width: 40%;
  height: 70vh;
  float: left;
  font-size: 40px;
  position: block;
  margin-left: 5%;
}
.rectangle{
  height: 5px;
  width: 150px;
  background: #15b0c9;
  margin-top: 50%;
  margin-left: 8.5%;
}
.home-left h3{
  font-size: 80px;
}
.home-left h3,p{
  margin-left: 8%;
}
.home-left p{
  font-size: 35px;
}
.gk2-homepagetext{
  color: #0f7f91;
}
.inline-text{
  display: inline-block;
  margin-left: 15px;
}


.home-right{
  width: 50%;
  height: 50vh;
  float: right;
  margin-top: 5%;
}
.front-image{
  width: 100%;
}




#about{
  padding: 5%;
}
.about-left{
  width: 50%;
  float: left;
  padding: 5%;
}
.about-image{
  width: 100%;
  height: 100%;
  top: 20%;
  transition: transform .5s ease;
}
.about-image:hover{
  transform: scale(1.01);
}


.about-right{
  width: 50%;
  float: left;
  padding: 7%;
}
.about-right h3{
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  padding: 5%;
  color: #15b0c9;
  font-family: 'Open Sans', sans-serif;
}
.about-right p{
  font-size: 20px;
  padding: 2%;
  color: #333333;
  height: auto;
}
.about-right a{
  color: #15b0c9;
}



.container{
  padding: 5%;
  padding-top: 10%;
}
.list1, .list2, .list3{
  width: 33%;
  float: left;
  padding: 2%;
  padding-bottom: 4%;
  max-height: 60%;
  overflow: hidden;
  height: auto;
}
#list{
  transition: .3s;
}
#list:hover{
  background-color: #e6e6e6;
}
.container h3{
  text-align: left;
  padding: 8%;
  text-align: center;
  color: #15b0c9;
  font-size: 33px;
}
.container p{
  font-size: 18px;
  color: #333333;
  max-height: 60vh;
}



.gallery{
  padding: 5%;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.gallery div{
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 20%;
  margin: .5vw;
}

.gallery div img{
  width: 100%;
  transition: transform .5s ease;
}
.gallery div img:hover{
  transform: scale(1.01);
}








#grid h3{
  padding: 5%;
  text-align: center;
  font-size: 40px;
  color: #15b0c9;
}
.container-grid{
  padding: 5%;
  display: -webkit-flex;
  display: flex;
  
  width: 100%;
  height: 70%;
  overflow: scroll;
}

.container-grid > div{
  padding: 1em;
  -webkit-flex: 0 0 100%;
  flex: 0 0 50%;
}

.card-left{
  width: 50%;
  height: 100%;
  float: left;
}
.card-right{
  width: 50%;
  height: 100%;
  float: left;
}
.card-left img{
  height: 50%;
  width: 55%;
  margin-top: 25%;
  margin-left: 20%;
  border-radius: 5%;
}
.card-right h2{
  padding-top: 50%;
  font-size: 30px;
  text-align: center;
}
.card-right p{
  color: #15b0c9;
  text-align: center;
}

.slide:hover{
  background-color: #e6e6e6;
  border-radius: 5%;
}





footer{
  height: 30%;
  width: 100vw;
  background-color: #15b0c9;
}
.logos{
  align-items: center;
  justify-content: center;
  left: 50%;
  padding-left: 43vw;
  padding-top: 4%;
  padding-bottom: 3%;
  border-bottom: 1px solid rgb(207, 207, 207);
}
.logos img{
  width: 25%;
  display: flex;
}
.bottom-copyright{
  font-size: 12;
  font-family: 'Open Sans', sans-serif;
  color: #414040;
  text-align: center;
  margin: 20px;
}
.bottom-copyright a:hover{
  color: #414040;
}





.imageGrid {
  line-height: 0;
  padding: 2%;
}
.imageGrid .tile {
  width: 32.7%;
  margin: .2%;
  min-height:20em;
  line-height: 1.2;
  display:inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}




#expedition{
  width: 100vw;
  height: auto;
}
#expedition h3{
  padding: 6%;
  padding-bottom: 0%;
  font-size: 25px;
  color: #15b0c9;
}
.grid-gallery{
  display: inline-block;
  padding: 5%;
}
.grid-gallery img{
  width: 32.9%;
  margin: .1%;
}



